---
title: Songs
layout: default
---

<form class="ui form" method="get" id="search_form" value="q">
    <div class="inline fields">
        <div class="four wide field">
            <select id="search_field" class="ui fluid dropdown">
                <option value="q">All fields</option>
                {% for field in site.data.fields %}
                <option value="{{field.value}}">{{field.label}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="twelve wide field">
            <input type="text" id="search_text">
        </div>
        <button class="ui icon button" type="submit">
            <i class="plus icon"></i>
        </button>
    </div>
</form>

<div class="ui accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        Search tips
    </div>
    <div class="content">
        <ul class="transition hidden">
        <li><strong>OR searches:</strong> To perform an OR search, simply separate two terms in the same field by a space. </li>
        <li><strong>Text Searches:</strong> When searching text fields, you can use the following features:
            <ul>
            <li><strong>wildcard searches:</strong> Add * to the beginning or end of a string to get results that start or end with the given letters. <br />
                Use wildcards in the middle of a string to replace unknown letters. </li>
            <li><strong>fuzzy searches:</strong> Add ~<em>n</em> to the end of a string to match similar items. <br />
                The larger the <em>n</em> the wider the range of results. </li>
            </ul>
        </li>
        <li><strong>Numeric searches:</strong> When searching numbers, you can use a number of operators to search ranges more easily, such as:
        <ul>
            <li><strong>&gt;<em>n</em>:</strong> Returns all values greater than <em>n</em>.</li>
            <li><strong>&gt;=<em>n</em>:</strong> Returns all values greater than or equal to <em>n</em>.</li>
            <li><strong>&lt;<em>n</em>:</strong> Returns all values less than <em>n</em>.</li>
            <li><strong>&lt;=<em>n</em>:</strong> Returns all values less than or equal to <em>n</em>.</li>
            <li><strong><em>n1</em>-<em>n2</em>:</strong> Returns <em>n1</em>, <em>n2</em>, and all values in-between.</li>
            <li><strong><em>n1 n2</em>:</strong> Putting a space between two or more numbers will perform an OR search on all numbers. <br /> This can be combined with the other operators as well! </li>
        </ul>
        </li>
        </ul>
    </div>
</div>
<br />

<div id="param_labels" class="ui labels"></div>

<div id="search_window">
    <table class="ui celled table">
        <thead>
            <tr>
            {% for field in site.data.fields %}
            <th>{{field.label}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody id="search_results"></tbody>
    </table>
</div>


