---
title: Songs
layout: default
---
<div class="top-content">
    <div class="ui container">
        <form class="ui form" method="get" id="search_form" role="search">
            <div class="inline fields">
                <div class="four wide field">
                    <select id="search_field" class="ui fluid dropdown">
                        <option value="q" selected>All fields</option>
                        {% for field in site.data.fields %}
                        <option value="{{field.value}}">{{field.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="ten wide field">
                    <input type="text" id="search_text" placeholder="enter search text here">
                </div>
                <div class="two wide field">
                    <select id="search_type" class="ui fluid dropdown">
                        <option value="or" selected>OR</option>
                        <option value="and">AND</option>
                        <option value="not">NOT</option>
                    </select>
                </div>
                <button class="ui icon button" type="submit">
                    <i class="plus icon"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="ui container">
        <div class="ui fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Search tips
            </div>
            <div class="content">
                <ul class="transition hidden">
                    <li><strong>Multiple search terms:</strong>You can search by any number of terms at once. To enter two search terms, you can either perform two separate searches, or put a space between terms.</li>
                    <li><strong>OR/AND/NOT searches:</strong> These are applied to each term you provide, and determine whether the term is required:
                        <ul>
                            <li><strong>OR [default]</strong> At least one term you provided must match to return a given result.</li>
                            <li><strong>AND</strong> A result must contain ALL of your AND terms to be returned.</li>
                            <li><strong>NOT</strong> A result must not contain any of your NOT terms to be returned.</li>
                        </ul>
                    </li>
                    <li><strong>Text Searches:</strong> When searching text fields, you can use the following features:
                        <ul>
                            <li><strong>wildcard searches:</strong> Add * to the beginning or end of a string to get results that start or end with the given letters.
                                Use wildcards in the middle of a string to replace unknown letters. </li>
                            <li><strong>fuzzy searches:</strong> Add ~<em>n</em> to the end of a string to match similar items.
                                The larger the <em>n</em> the wider the range of results. </li>
                        </ul>
                    </li>
                    <li><strong>Numeric searches:</strong> When searching specifically in numeric fields, you can use a number of operators to search ranges more easily, such as:
                        <ul>
                            <li><strong>&gt;<em>n</em>:</strong> Returns all values greater than <em>n</em>.</li>
                            <li><strong>&gt;=<em>n</em>:</strong> Returns all values greater than or equal to <em>n</em>.</li>
                            <li><strong>&lt;<em>n</em>:</strong> Returns all values less than <em>n</em>.</li>
                            <li><strong>&lt;=<em>n</em>:</strong> Returns all values less than or equal to <em>n</em>.</li>
                            <li><strong><em>n1</em>-<em>n2</em>:</strong> Returns <em>n1</em>, <em>n2</em>, and all values in-between.</li>
                            <li><strong><em>n1 n2</em>:</strong> Putting a space between two or more numbers will perform an OR search on all numbers. This can be combined with the other operators as well! </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bottom-content">
    <div class="ui container">
        <div id="param_labels" class="ui labels"></div>

        <div id="search_window">
            <table class="ui sortable celled table">
                <thead class="mobile hidden">
                <tr>
                    {% for field in site.data.fields %}
                    <th>{{field.label}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="search_results"></tbody>
            </table>
        </div>
    </div>
</div>



