<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>{{site.title}}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<header>
 <h1 class="ui header">{{site.title}}</h1>
</header>

<main>
 {{content}}
</main>

<footer>
 <p>Searchable index of our collection of vinyl records.
 </p>

</footer>
</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/0.10.0/url-search-params.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/widgets/widget-columns.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/parsers/parser-ignore-articles.min.js"></script>
<script src="/js/search.js"></script>

<!-- provides data for the JS application -->
<script> window.store = {{site.data.fields | jsonify }}; </script>
</html>
