<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>{{site.title}}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<header>
 <h1 class="ui header">{{site.title}}</h1>
</header>

<main>
 {{content}}
</main>

<footer>
 <div><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
  <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
 </a></div>
 <p>Transcriptions/Arrangements by Emma Badowski, licenced under a
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
   Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
  </a>. <br />
  Website by Matthew Barry.
 </p>

</footer>
</body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<link rel="stylesheet" href="/css/style.css">
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/0.10.0/url-search-params.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/widgets/widget-columns.min.js"></script>
<script src="/js/search.js"></script>

<!-- provides data for the JS application -->
<script> window.store = {{site.data.fields | jsonify }}; </script>
</html>